.release_status {
    section {
        padding-left: 1.5rem;
    }
    h1, h2, h3, h4, h5, h6 {
        section > & {
            margin-left: -1.5rem;
        }
    }
    h1 {
        margin-bottom: 2rem;
    }
    section.branch-status.status-danger {
        --status-color: var(--danger-color);
    }
    section.branch-status.status-warning {
        --status-color: var(--warning-color);
        h3 {
            color: var(--pill-text-color);
        }
    }
    section.branch-status.status-success {
        --status-color: var(--success-color);
    }
    section.branch-status {
        --status-color: var(--background-color);
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);; /*0 2px 4px color-mix(in srgb, var(--status-color) 20%, color-mix(in srgb, var(--background-color) 50%, transparent));*/
        border-left: 2px solid var(--status-color);
        overflow: clip;
        h3 {
            padding-left: 1rem;
            background-color: var(--status-color);
            color: var(--background-color);
            position: sticky;
            top: 0;
        }
        margin-bottom: 1rem;
        h4.tier-name {
            font-weight: normal;
            font-size: 100%;
        }
        & > section {
            padding-bottom: 0.5rem;
        }
        h5 {
            margin-bottom: 0;
        }
        &:empty {
            padding-bottom: 0;
            border-color: transparent;
            h3 {
                border-radius: 20px;
            }
        }
    }
    .build-dots {
        white-space: nowrap;
        overflow: hidden;
    }
    .build-dot {
        display: inline-block;
        margin: 0px;
        width: 1rem;
        height: 1rem;
        background-color: var(--pill-bg-color);
        color: var(--pill-text-color);
        font-size: .5rem;
        border-radius: .5rem;
        padding: .2em .5em .3em;
        &.build-results-success { background-color: var(--success-color); }
        &.build-results-warning { background-color: var(--warning-color); }
        &.build-results-danger { background-color: var(--danger-color); }
    }
    .tag {
        display: inline-block;
        background-color: var(--pill-bg-color);
        color: var(--pill-text-color);
        font-size: .7rem;
        border-radius: .5rem;
        padding: .2em .5em .3em;
    }
    .row.top-panels {
        /* When wrapping, panels for recent branches are the bigger ones */
        flex-wrap: wrap-reverse;
        flex-direction: row-reverse;
    }
}

:root {
    --primary-color: #306998;
    --secondary-color: #FFD43B;
    --background-color: #f4f4f4;
    --text-color: #333;
    --success-color: #4CAF50;
    --warning-color: #FFD43B;
    --danger-color: #f44336;
    --pill-bg-color: #e0e0e0;
    --pill-text-color: #333;
    --pill-hover-bg-color: #306998;
    --pill-hover-text-color: #ffffff;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.release_status {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header img {
    max-width: 100%;
    height: auto;
    animation: fadeIn 1s ease-out;
}

h1, h2 {
    color: var(--primary-color);
}

h1 {
    font-size: 2.5em;
    margin-top: 20px;
}

h2 {
    font-size: 2em;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
    margin-top: 40px;
}

.branch-panel {
    cursor: pointer;
    a {
        color: inherit;
        text-decoration: none;
    }
}

.panel {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}


.panel-heading {
    padding: 15px 15px 15px;
    font-weight: bold;
    text-align: center;

    h3 {
        font-size: 3rem;
        padding: 0;
        margin: 0;
    }
}

.panel-success .panel-heading {
    background-color: var(--success-color);
    color: white;
}

.panel-warning .panel-heading {
    background-color: var(--warning-color);
    color: white;
}

.panel-danger .panel-heading {
    background-color: var(--danger-color);
    color: white;
}

.panel-body {
    padding: 20px;
    background-color: white;
    text-align: center;
}
