{% macro build_dot(build) -%}
    <a
        href="#/builders/{{build.builderid}}/builds/{{ build.number }}"
        class="build build-results-{{ build.results }}"
        title="#{{ build.number }} {{ build }}"
    >
        &nbsp;
    </a>
{% endmacro -%}
{% macro build_info(build) -%}
    {{ build_dot(build) }}
    <span title="{{ build }}">#{{ build.number }}</span>
    ({{ build.started_at | format_timestamp }})
    {% if build.changes %}
        <div>
            Changes for #{{ build.number }}:
            <ul>
                {% for change in build.changes %}
                    <li>
                        <a href="{{ change.revlink }}" title="{{ change }}">
                            {{ change.comments | first_line }}
                        </a>
                        by {{ change.author | committer_name }}
                        <ul>
                            {% for file in change.files %}
                                <li>
                                    {{ file }}
                                </li>
                            {% endfor  %}
                        </ul>
                    </li>
                {% endfor  %}
            </ul>
        </div>
    {% endif %}
﻿{% endmacro -%}

<div class="container release_status">
    <div style="text-align: center;">
        <h1>Python Branch Status Dashboard</h1>
    </div>

    <h2>Failing stable builders</h2>

    {% for branch, info_by_tier, branch_status in failed_builders %}
        <section class="branch-status status-{{ branch_status }}">
            <h3>
                {{ branch }}:
                {% if branch_status == "ok" %}
                    Releasable
                {% elif branch_status == "concern" %}
                    Concern
                {% elif branch_status == "bad" %}
                    Unreleasable
                {% else %}
                    Unknown?!
                {% endif %}
            </h3>
            {% for tier, info in info_by_tier %}
                <section>
                    <h4 class="tier-name">{{ tier }}</h4>
                    {% for builder, breaking_build, builds in info %}
                        <section>
                            <h5>
                                <a href="#/builders/{{builder.builderid}}">
                                    {{ builder.name -}}
                                </a>
                            </h5>
                            {% for build in builds %}
                                {{ build_dot(build) }}
                            {% endfor %}
                            {% if builds %}
                                <div>
                                    Most recent build: {{ build_info(builds[0]) }}
                                </div>
                            {% endif %}
                            {% if breaking_build %}
                                <div>
                                    Breaking build: {{ build_info(breaking_build) }}
                                </div>
                            {% endif %}
                        </section>
                    {% endfor %}
                </section>
            {% endfor %}
        </section>
    {% endfor %}

    {% if disconnected_workers %}
        <section>
            <h2>Disconnected stable workers</h2>

            {% for name, worker in disconnected_workers %}
                <div>
                    -
                    <a href="#/workers/{{ worker.workerid }}">
                        {{ name }}
                    </a>
                </div>
            {% endfor %}
        </section>
    {% endif %}

    <div class="container">
        <small>Generated at <time id="generatedAt" datetime="{{generated_at}}">{{generated_at}}</time></small>
    </div>
</div>
<script>
    let elem = document.getElementById("generatedAt");
    let date = new Date(elem.dateTime);
    elem.innerText = date.toLocaleDateString("en-CA") + " " + date.toLocaleTimeString("pl-PL");
</script>
