{% macro build_dot(build) -%}
    <a
        href="#/builders/{{build.builderid}}/builds/{{ build.number }}"
        class="build-dot build-results-{{ build.css_color_class }}"
        title="#{{ build.number }} {{ build }}"
    >
        &nbsp;
    </a>
{% endmacro -%}
{% macro build_info(build) -%}
    {{ build_dot(build) }}
    <span title="{{ build }}">#{{ build.number }}</span>
    ({{ build.started_at | format_datetime }})
    {% if build.changes %}
        <details {% if build.changes|length <= 3 %}open{% endif %}>
            <summary>{{ build.changes|length }} change{% if build.changes|length != 1 %}s{% endif %}</summary>
            <ul>
                {% for change in build.changes %}
                    <li>
                        <a href="{{ change.revlink }}" title="{{ change }}">
                            {{ change.comments | first_line }}
                        </a>
                        by {{ change.author | committer_name }}
                        {% if change.files %}
                            <details {% if change.files|length <= 3 %}open{% endif %}>
                                <summary>{{ change.files|length }} file{% if change.files|length != 1 %}s{% endif %} changed</summary>
                                <ul>
                                    {% for file in change.files %}
                                        <li>
                                            {{ file }}
                                        </li>
                                    {% endfor  %}
                                </ul>
                            </details>
                        {% endif %}
                    </li>
                {% endfor  %}
            </ul>
        </details>
    {% endif %}
﻿{% endmacro -%}

<div class="container release_status">
    <div style="text-align: center;">
        <h1>Python Release Status Dashboard</h1>
    </div>

    <div class="row top-panels">
        {% for branch in state.branches | reverse %}
            {% if branch.name == 'no-branch' %}
                {% continue %}
            {% endif %}
            <div class="col branch-panel">
                <div
                    class="panel panel-{{ branch.featured_problem.css_color_class }}"
                    {#- Buildbot's React UI takes over `#` in the URL, so a HTML fragment link won't work here...  #}
                    onclick="document.getElementById('branch-section-{{branch}}').scrollIntoView();"
                >
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ branch.title }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% if branch.featured_problem.severity <= Severity.NO_PROBLEM %}
                            Releasable!
                        {% else %}
                            {{ branch.featured_problem }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2>Problems by Branch</h2>

    {% for branch in state.branches %}
        <section class="branch-status status-{{ branch.featured_problem.css_color_class }}" id="branch-section-{{branch}}">
            <h3>
                {{ branch.title }}
            </h3>
            {% for description, problems in branch.get_grouped_problems() %}
                <details {% if problems[0].severity > Severity.TRIVIAL %}open{% endif %}>
                    <summary class="tier-name">{{ description }} ({{ problems|length }})</summary>
                    <section>
                        {% for problem in problems %}
                            <section>
                                {% if problem.builder is defined %}
                                    {% set builder = problem.builder %}
                                    <h5>
                                        <a href="#/builders/{{builder.builderid}}">
                                            {{ builder.name -}}
                                        </a>
                                        {% for tag in builder.tags %}
                                            <span class="tag">
                                                {{ tag }}
                                            </span>
                                        {% endfor %}
                                    </h5>
                                    {% if not builder.connected_workers %}
                                        <div>
                                            Disconnected!
                                            {% if builder.builds %}
                                                Last build {{ builder.builds[0].started_at | format_datetime }}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    <div class="build-dots">
                                        {% for build in builder.builds %}
                                            {{ build_dot(build) }}
                                        {% endfor %}
                                    </div>
                                    {% for label, build in problem.affected_builds.items() %}
                                        <div>
                                            {{ label}}: {{ build_info(build) }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {{ problem }}
                                {% endif %}
                            </section>
                        {% endfor %}
                    </section>
                </details>
            {% endfor %}
        </section>
    {% endfor %}

    <div class="container">
        <small>Generated at <time id="generatedAt" datetime="{{generated_at}}">{{generated_at}}</time></small>
    </div>
</div>
<script>
    let elem = document.getElementById("generatedAt");
    let date = new Date(elem.dateTime);
    elem.innerText = date.toLocaleDateString("en-CA") + " " + date.toLocaleTimeString("pl-PL");
</script>
